<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/nav.ejs') %>

    <main class="contenedor">
      <h1 class="titulo">Nuevo Producto</h1>

      <form
        class="formulario-producto"
        action="/dashboard/productos/nuevo"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="campo-producto">
          <label for="nombre">Nombre</label>
          <input id="nombre" name="nombre" type="text" required />
        </div>

        <div class="campo-producto">
          <label for="precio">Precio</label>
          <input id="precio" name="precio" type="number" required />
        </div>

        <div class="campo-producto">
          <label for="descripcion">Descripción</label>
          <textarea
            id="descripcion"
            name="descripcion"
            rows="3"
            required
          ></textarea>
        </div>

        <div class="campo-producto">
          <label for="active">Activo</label>
          <select id="active" name="active" required>
            <option value="true">Sí</option>
            <option value="false">No</option>
          </select>
        </div>

        <div class="campo-producto">
          <label for="imagen">Imagen</label>
          <input
            id="imagen"
            name="imagen"
            type="file"
            accept="image/*"
            required
          />
        </div>

        <div class="campo-producto">
          <label for="id_categoria">ID Categoría</label>
          <input id="id_categoria" name="id_categoria" type="number" required />
        </div>

        <button type="submit" class="boton boton-primario">Crear Producto</button>
        <button class="boton boton-secundario">
            <a href="/dashboard/productos" class="elemento-a">Cancelar</a>
        </button>
      </form>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
