<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head.ejs') %>
  <body>
    <main class="contenedor-login">
      <h1 class="titulo text-center mb-4">Login Administrador</h1>
      <% if (error) { %>
      <div class="alert alert-danger" role="alert"><%= error %></div>
      <% } %>
      <form method="POST" action="/login" id="login-form">
        <div class="mb-3">
          <label class="form-label">Correo:</label>
          <input
            type="email"
            name="email"
            class="form-control"
            placeholder="Correo"
            required
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Contrase침a:</label>
          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Contrase침a"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary boton-primario w-100">
          Ingresar
        </button>
        <button
          type="button"
          class="btn btn-secondary w-100 mt-2"
          onclick="autocompletar()"
        >
          Acceso r치pido
        </button>
      </form>
    </main>

    <%- include('partials/footer.ejs') %>

    <script>
      function autocompletar() {
        const emailField = document.querySelector('[name="email"]');
        const passwordField = document.querySelector('[name="password"]');
        if (emailField && passwordField) {
          emailField.value = "admin@admin.com";
          passwordField.value = "admin123";
        } else {
          console.error("No se encontraron los campos de correo o contrase침a.");
        }
      }
    </script>
  </body>
</html>
