<header class="py-2">
  <div class="container d-flex align-items-center">
    <a href="/" class="d-flex align-items-center text-decoration-none text-reset">
      <img src="/assets/img/favicon.png" alt="Logo" width="32" height="32" class="me-2" />
      <span class="fs-5 fw-bold">Fenrir 3D</span>
    </a>
  </div>
</header>
