<nav role="navigation">
    <div class="nav-container">
        <div class="nav-header">
            <div class="nav-title">
                <img src="/img/logo-autopartes.png" alt="Logo" class="logo-image">
                <h2>AutoPartes</h2>
            </div>
            <div class="alumnos">
                <p>Franco Bulotas</p>
                <p>Candela Kevarkian</p>
            </div>
        </div>
      
        <div class="nav-links" id="nav-links">
            <!-- <div><a class="a-nav" href="/dashboard">Dashboard</a></div> -->
            <div><a class="a-nav" href="/dashboard/productos">Productos</a></div>       
            <form  method="GET" action="/api/ventas/descargar/excel">
                <button type="submit" class="boton">Descargar Ventas</button>
            </form>
        </div>
    </div>
</nav>
<nav>
  <ul>
    <li><a href="/dashboard/productos">Productos</a></li>
    <li><a href="/auth/login">Iniciar sesión</a></li>
    <li><a href="/auth/registro">Registrarse</a></li>
  </ul>
</nav>