<nav role="navigation">
  <div class="nav-container">
    <div class="nav-header">
      <div class="nav-title">
        <img src="/assets/img/favicon.png" alt="Logo" class="logo-image" />
        <h2>Fenrir 3D</h2>
      </div>
      <div class="alumnos">
        <p>Rodrigo vega</p>
        <p>Monsalbo Lucio</p>
      </div>
    </div>
  </div>
</nav>
